/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    max-width: 100%;
   
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    color: #4f4f4f;
    line-height: 1.5;
}
h1{
    font-size: 5rem;
    margin:3% 5%;
}
h2{
    font-size: 3rem;
    
}
h3{
    font-size: 3rem;
    
}
.home{
    color:white;
    background-color: black;
}
nav{
    display: flex;
    justify-content: start;
    width: 90%;
    margin-left: 10%;
    text-align: center;
}
nav a{
padding:1% 2%;
width: 15%;
border:solid #4f4f4f;

}
.top{
    display: flex;
    margin: 4%;
}
.myProjects{
    display: flex;
    flex-direction: column;
    width:80%;
    margin:25% 15% 15% 15%;
}

.top img{
    width: 45%;
}

.projectButton{
    width:40%;
    padding:3%;
    font-size:1.8rem ;
    margin: 10% 0;
}
p{
    font-size: 2rem;
}
.imageGallery1{
display: flex;
justify-content: space-around;
margin: 10% 4% 10% 8%;
width:100%;
/* flex-wrap: wrap;
border: 1px solid grey */
}
.imageGallery2{
    display: flex;
    justify-content: space-around;
    margin: 10% 4% 10% 8%;
   width:100%;
    align-items: center;
    
}
img{
    width:75%;
    /* flex-shrink: 2; */
}
.imageGallery2 img{
    width: 85%;
}
figcaption{
    text-align: center;
    width:45%;
    margin-left: 15%;
}
figure{
    caption-side: bottom;
}

footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

.footerButton{
     width:30%;
     margin-bottom: 10%;
     padding: 2%; 5%;
     font-size:2rem 
     }
     
     button{
         transition-duration:0.5s;
         border: solid 1px black; 
     }
     button:hover{
         background-color: black;
         color:whitesmoke;
     }
     .figbutton{
        width:40%;
        padding:3%;
        font-size:1.8rem ;
        margin: 10% 0;
     }
